@use "../variables" as v;

.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.imgContainer {
	flex: 1 1 0;
	text-align: center;
}

.boyImg {
	width: clamp(40%, 400px, 50%);
}

.content {
	flex: 2 1 0;
	text-align: center;

	.resumeButton {
		display: inline-block;
		background-color: v.$background-color;
		text-decoration: none;
		color: #000;
		font-size: 1.25rem;
		font-weight: bold;
		padding: 1em;
		margin-block-start: 2rem;
		border: 3px solid v.$button-border;
		border-radius: 10px;
		box-shadow: 2px 2px 3px #444;
		cursor: pointer;
		transition: background-color 200ms ease-in;

		&:hover,
		&:focus {
			background-color: v.$primary-color;
			color: #fff;
		}

		&:active {
			transform: translate(3px, 3px);
		}
	}
}

// @media (min-width: 1500px) {
// 	.container {
// 		flex-direction: row;
// 	}
// }
