.heroHeader {
    min-height: 100vh;
    padding-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: min(calc(100% - 40vw), 30vmax);
    border-radius: 50%;
    box-shadow: 0 0 0 20px #222, 0 0 5px 40px #555, 0 0 10px 60px #999;
    aspect-ratio: 1;
    overflow: hidden;
}

.profilePic {
    max-width: 100%;
}

.heroSubtitle {
    text-align: center;
}
