.skillsList {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	text-align: center;
	column-gap: 10vw;
	row-gap: 1.5rem;
}

.skillItemText {
	font-size: 2em;
}

@media (min-width: 700px) {
	.skillItemText {
		font-size: 2.5em;
	}
}
