.wrapper {
    margin-block: 5rem;
    margin-inline: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    padding-block: 5rem;
}
