@use "../../variables" as v;

$content-divide: 1rem;

.projectContainer {
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 3px 3px 10px hsl(0 0% 0%);
}

.projectContent {
	padding-inline: 1rem;
}

.projectImgContainer {
	border-radius: 10px;
	box-shadow: 0 0 5px hsl(0 0% 0%);
	overflow: hidden;
	margin-block-end: $content-divide;
}

.projectImg {
	display: block;
	width: 100%;
}

.techList {
	font-size: 1rem;
	font-weight: bold;
	color: hsl(0 0% 30%);
	margin-block-end: $content-divide;
}

.projectLinks {
	float: right;
}

.projectLink {
	color: hsl(0 0% 0%);
	font-size: 2rem;
	margin-right: 1rem;
	transition: color 300ms ease-in-out;

	&:hover,
	&:focus {
		color: v.$primary-color;
	}
}
