*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(0 0% 80%);
    --secondary-color: hsl(110 70% 30%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--primary-color);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

button:active,
button:focus,
a:active,
a:focus,
input:active,
input:focus {
    outline: solid 4px var(--secondary-color);
}

@media (min-width: 968px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}
