@use "variables" as v;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: v.$background-color;
}

h1,
h2,
h3,
p,
a {
	letter-spacing: 2px;
}

p {
	line-height: 1.3;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
}

button:focus,
a:focus {
	outline: solid 4px v.$focus-color;
}

@media (min-width: 1000px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	p {
		font-size: 1.25rem;
	}
}
